<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>New User Page</h1>
  <form accept-charset="UTF-8", action="/users", method="post">
    Name: <input type="text" name="user[username]"><br>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    Email: <input type="text" name="user[email]"><br>
    Password: <input type="password" name="user[password]"><br>
    <input type="submit" value="Create User"> 
  </form>
</body>
</html>